[Unit]
Description=Synchronize Google Calendar via vdirsyncer
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/vdirsyncer sync
